
body {
    background-image: url(img/images.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
}
.navbar{
    background: #2F4F4F;
    background-attachment: fixed;
    width: 100%;
    height: 70px;
    box-shadow: 0 4px rgba(0,0,0, .1);
}

.navbar .container {
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-menu {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
}

.navbar-menu li {
    display: inline-block;
}

.navbar-menu li a {
    display: inline-block;
    color: coral;
    opacity: 0.6;
    text-decoration: none;
    padding: 10px;
    transition: all .07s ease-in-out;
    

}

.navbar-menu li a:hover {
    opacity: 1;
    color: #00ff73;

    
}

.navbar-wrap {
    
    display: flex;
    flex-flow: row nowrap;
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;

}

.callback {
    margin-top: 15px;
    margin-left: 30px;
    margin-right: 30px;
    padding: 10px 30px;
    background-color: coral;
    border-radius: 100px;
    color: #fff;
    text-decoration: none;
    box-shadow: 0px 4px 6px #ffffff33;
    transition: all .1s ease-in-out;

}

.callback:hover {
   transform: scale(1.04);
   color: #fff;
   box-shadow: 0px 4px 6px #00ff73;
}

.navbar-brand {
    font-weight: 700;
    font-size: 35px;
    text-decoration: none;
    color:coral;
    transition: all .07s ease-out;
    padding: 30px;
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;

}

.navbar-brand:hover {
    color: #00ff73;


}

.content {

    /* display: flex; */
    color: #fff;
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
    
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}


h1 {
    color: #0ad3e5a2;
    text-align: center;
    box-shadow: 0px 4px 6px #2a616d33;
}


p {
    padding: 20px;
    text-align: left;
}

img {
    margin-right: 10px;
    width: 400px;
    float: left;
    border-radius: 10px;
    border: 5px #070707 solid;
    box-shadow: 0 0 10px #444;
}
.col-12 {
    font-weight: lighter;
    padding-top: 5%;
    color:#8bcc12

}

